#video_player {
    height: 50%;
    width: 99%;
}

#body #player_wrapper {
    width: 100%;
    height: 50%;    
    background-color: black;
    padding: 16px;
}

#player_controls {
    padding-right: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

#body #player_wrapper #player_controls #change_vol {
    display: inline;
}

#change_vol {        
    margin-left: 12px;
    min-width: 200px;
}

.volume-container {    
    float: right;
    display: flex;
}

.control-button {
    font-size: 2em;
    color: blueviolet;
    padding-right: 8px;
}

.control-range {
    color: blueviolet;
}