#player:hover {
    filter:brightness(120%);
}

.player {
    width: 90%;
    height: 30vw;
    overflow: hidden;
    border: 1px solid black;
    margin-bottom: 40px;
    position: relative;
}

.two {
    width: 30%;
    height: 300px;
    overflow: hidden;
    border: 15px solid blue;
    position: relative;
}

.video-background { /* class name used in javascript too */
    width: 100%; /* width needs to be set to 100% */
    height: 100%; /* height needs to be set to 100% */
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}